<div class="container">
    Charts
    <div id="chartContainer" style="height: 300px; width: 100%;">
    </div>
</div>

@section Scripts {
    <script src="~/js/canvasjs.min.js"></script>

    <script>
        window.onload = function () {
            var dataPoints = [];
            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                title: {
                    text: "Average salary"
                },
                axisX: {
                    valueFormatString: "MMM"
                },
                axisY: {
                    title: "Average salary (in USD)",
                    prefix: "$"
                },
                data: [{
                    yValueFormatString: "$#,###",
                    xValueFormatString: "MMMM",
                    type: "spline",
                    dataPoints: dataPoints,
                }]
            });

            $.ajax({
                type: "POST",
                url: "@Url.Action("hardSkillYearSallaryIndicators", "Indicators")",
                dataType: "json",
                data: { hardSkillId: 3 },
                success: function (data) {
                    console.log(data);
                    $.each(data.value, function (key, value) {
                        if (value.salaryAvg == null) {
                            dataPoints.push({ x: new Date(value.year, value.month - 1), y: 0 });
                        }
                        else {
                            dataPoints.push({ x: new Date(value.year, value.month - 1), y: value.salaryAvg });
                        }

                    });
                    chart.render();
                }
            });
        }
    </script>
}
